<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Honors & Awards</h2>
                <div class="item">
                    <span class="project-title"><a href="#hook">30 Under 30</a></span> - <span class="project-tagline">Myo has be selected in Forbes first-ever “30 Under 30 Asia” list, featuring 300 young innovators, entrepreneurs and leaders across Asia in 10 categories who are under 30 years of age and who are transforming business, technology, industry, media, culture and more, as judged by some of the most accomplished and acclaimed individuals in each category.
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Code for Change Myanmar</a></span> - 
                    <span class="project-tagline">We had built a sophisticated Android app that allowed farmers to share and receive alerts about nearby pests and diseases within 48 hours and awarded first prize.
</span>
                </div><!--//item-->
            </section><!--//section-->