<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Myo Htet Aung is a technologist with an entrepreneurial spirit. As Nex's Chief Operations Officer, Myo is responsible for overall management of every Nex's business operation in Myanmar.</p>

<p>In 2006, Myo earned his Bachelor of Computer Technology Degree from University of Computer Studies, Yangon.</p>

<p>For having a great interest in programming, Myo has acquired many credentials such as Microsoft Certified Professional Developer and other professional certificates in JAVA Development.</p>

<p>Furthermore, Myo has been working in the industry of technology for over 10 years. He has an extensive list of proficiencies, ranging from Website Development, Mobile Application Development, Project Management, Human Resource Management, Customer Relationship Management and Startups, Entrepreneurship.</p>

<p>Before becoming a co-founder of Nex, Myo also co-founded Bagan Innovation Technology, a software development company, in 2012. Bagan Innovation Technology specializes in developing Enterprise Web Portals and formulating Mobile Application Solutions in the emerging IT market of Myanmar. With Bagan Innovation Technology, Myo performed project management for several websites with various genres.</p>

<p>Myo was also mentioned among Forbes Asia’s under 30 young entrepreneurs in 2016.

</p>
</div><!--//summary-->
</section><!--//section-->