<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Application Developer</h3>
                            <div class="time">2009 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Cell City Pte. Ltd, Bangkok</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> - Contribute to our native apps written in Nokia WRT platform
                            <br> - Integrate with our backend services to make sure we are delivering a great mobile user experience that’s super- fast for end users
                            <br> - Help improve code quality through writing unit tests, automation and performing code reviews
                            <br> - Participate in brainstorming sessions and have the chance to contribute innovative and original ideas to our technology, algorithms and product
                            <br> - Work with the product and design team to understand end-user requirements and use cases, then translate that into a pragmatic and effective technical solution
                            <br> - Dive into difficult problems and successfully deliver results within a schedule</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Mobile Application Developer</h3>
                            <div class="time">2010 - 2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Gokiri Co., Ltd, Bangkok</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> - Translate designs and wireframes into high quality code
                            <br> - Design, build, and maintain high performance, reusable, and reliable Java code
                            <br> - Ensure the best possible performance, quality, and responsiveness of the application
                            <br> - Identify and correct bottlenecks and fix bugs
                            <br> - Help maintain code quality, organization, and automatization</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Operations Manager</h3>
                            <div class="time">2011 - 2012</div>
                        </div><!--//upper-row-->
                        <div class="company">Winner Computer Group, Yangon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> - Planning and controlling change.
                            <br> - Managing quality assurance programmes.
                            <br> - Researching new technologies and alternative methods of efficiency.
                            <br> - Setting and reviewing budgets and managing cost.
                            <br> - Overseeing inventory, distribution of goods and facility layout.</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Co Founder & COO</h3>
                            <div class="time">2013 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Nex Co., Ltd., Yangon</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p> - Manage clients
                            <br> - Manage sales team to reach sales target
                            <br> - Set overall vision for the agency
                            <br> - Set overall business strategy
                            <br> - Explore potential business opportunities
                            <br> - Work with Finance to chase bad debts
                            <br> - Work with partners on outsourcing
                            <br> - Manage agency team motivation
                            <br> - Establish and optimise process
                            <br> - Optimise expenses
                            <br> - Solve internal problems and ensure timely deliveries 
                            <br> - Create a respectful work environment
                            <br> - QA
                            <br> - Keep track of overall operations</p>  
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->